:root {
    --cor-principal: #4CAF50; /* Verde Folha */
    --principal: #0079D6; /* Cinza Tronco */
    --secundario: #8B4513; /* Marrom Madeira */
    --texto-principal: #FFFFFF; /* Branco */
    --texto-secundario: #BFBFBF; /* Cinza Claro */
    --link-botao-primario: #28a745; /* Verde Folha */
    --link-botao-secundario: #FFD700; /* Amarelo Dourado */
    --realce: #FFD700; /* Amarelo Dourado */
    --bordas-linhas: #2E8B57; /* Verde Musgo */
    --titulo: 'Lora', 'sans-serif';
    --conteudo: 'Roboto', 'sans-serif';
    --main: #2E2E2E; /* Cinza Tronco */
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--conteudo);
}
body {
    background-color: var(--main);
    color: var(--texto-principal);
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
}
header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: var(--main);
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.123);
    z-index: 999999;
}
.container-header {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-header div h1 {
    font-family: var(--titulo);
    font-size: 35px;
}
.container-title svg {
    color: var(--principal);
}
.container-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
nav ul li {
    padding-right: 10px;
    border-right: 1px solid #FFFFFF;
    cursor: pointer;
}
nav ul li:nth-last-child(1) {
    padding-right: 0px;
    border-right: 0px solid #FFFFFF;
}
ul {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 15px;
}
main {
    width: calc(100%);
    margin-top: 80px;
    background-color: var(--main);
}
.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

#main{
    padding: 35px 0px 120px 0px;
    background-image: url('images/bcfoto.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-attachment: fixed;
}

.container-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-button button{
    width: 100px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--main);
    color: var(--texto-principal);
    outline: 0 0 0 0;
    border: 2px solid var(--principal);
    font-size: 15px;
    cursor: pointer;
}


.container-all{
    display: none;
    flex-direction: column;
    background-color: var(--main);
    border-radius: 15px;
    padding: 20px;
    overflow: hidden;
}
.conteiner-title {
    border-bottom: 2px solid var(--texto-principal);
    overflow: hidden;
}
.conteiner-title h1 {
    font-family: var(--titulo);
    color: var(--texto-principal);   
    opacity: 0;
    font-size: 37px;
}
.conteiner-arvore {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 250px;
    padding: 20px 0px 20px 0px;
    gap: 30px;
    overflow: hidden;
}
.conteiner-arvore div div {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    z-index: 100;
}
.conteiner-arvore div div p {
    z-index: 10;
    font-size: 20px;
    font-weight: 800;
    font-family: var(--conteudo);
}
.background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--main);
}
.raiz .background {
    border: 5px solid var(--secundario);
}
.raiz .aresta-esquerda {
    background-image: linear-gradient(to bottom, var(--secundario), #ca6721);
} 
.raiz .aresta-direita {
    background-image: linear-gradient(to bottom, var(--secundario), #ca6721);
} 
.arvore2 .background {
    border: 5px solid #ca6721;
}
.arvore2 .aresta-direita2 {
    background-image: linear-gradient(to bottom, #ca6721, var(--cor-principal));
} 
.arvore2 .aresta-esquerda2 {
    background-image: linear-gradient(to bottom, #ca6721, var(--cor-principal));
}
.arvore3 .background {
    border: 5px solid #ca6721;
}
.arvore3 .aresta-direita3 {
    background-image: linear-gradient(to bottom, #ca6721, var(--cor-principal));
} 
.arvore3 .aresta-esquerda3 {
    background-image: linear-gradient(to bottom, #ca6721, var(--cor-principal));
}
.arvore4 .background {
    border: 5px solid var(--cor-principal);
}
.arvore5 .background {
    border: 5px solid var(--cor-principal);
}
.arvore6 .background {
    border: 5px solid var(--cor-principal);
}
.arvore7 .background {
    border: 5px solid var(--cor-principal);
}
.aresta {
    opacity: 0;
    display: block;
    position: absolute;
    width: 5px;
    height: 150px;    
    top: 0%;
    z-index: -1;
}
.aresta-esquerda {
    left: 50%;
}
.aresta-direita {
    right: 50%;
}
.aresta2 {
    opacity: 0;
    display: block;
    position: absolute;
    width: 5px;
    height: 130px;
    top: 0%;
    z-index: -1;
}
.aresta-esquerda2 {
    left: 50%;
}
.aresta-direita2 {
    right: 50%;
}
.aresta-esquerda3 {
    left: 50%;
    transform: rotate(-110deg);
}
.aresta-direita3 {
    right: 50%;
    transform: rotate(110deg);
}
.c1 {
    width: 100%;
    display: flex;
    justify-content: center;
}
.c2 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 160px;
    margin-bottom: 30px;
}
.c3 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}
@keyframes aparecendo {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes aparecendoBaixo {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


@keyframes aparecendo2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes traco1 {
    from {
        opacity: 1;
        transform: rotate(45deg) scaleY(0);
    }
    to {
        opacity: 1;
        transform: rotate(45deg) scaleY(1);
    }
}
@keyframes traco2 {
    from {
        opacity: 1;
        transform: rotate(-45deg) scaleY(0);
    }
    to {
        opacity: 1;
        transform: rotate(-45deg) scaleY(1);
    }
}

@keyframes traco3 {
    from {
        opacity: 1;
        transform: rotate(25deg) scaleY(0);
    }
    to {
        opacity: 1;
        transform: rotate(25deg) scaleY(1);
    }
}
@keyframes traco4 {
    from {
        opacity: 1;
        transform: rotate(-25deg) scaleY(0);
    }
    to {
        opacity: 1;
        transform: rotate(-25deg) scaleY(1);
    }
}



.raiz {
    animation: aparecendo 2s 3s 1 forwards;
}
.aresta-esquerda {
    transform-origin: top left;
    animation: traco1 2s 4s 1 forwards ease-in-out;
}
.aresta-direita {
    transform-origin: top left;
    animation: traco2 2s 4s 1 forwards ease-in-out;
}

.arvore2 {
    animation: aparecendo2 2s 6s 1 forwards;
}

.arvore3{
    animation: aparecendo2 2s 6s 1 forwards;
}   

.arvore4{
    animation: aparecendo2 2s 8.5s 1 forwards;
}

.arvore5{
    animation: aparecendo2 2s 8.5s 1 forwards;
}

.arvore6{
    animation: aparecendo2 2s 8.5s 1 forwards;
}

.arvore7{
    animation: aparecendo2 2s 8.5s 1 forwards;
}
.aresta-esquerda2 {
    transform-origin: top left;
    animation: traco3 2s 6.5s 1 forwards ease-in-out;
}
.aresta-direita2 {
    transform-origin: top left;
    animation: traco4 2s 6.5s 1 forwards ease-in-out;
}

.aresta-esquerda3 {
    transform-origin: top left;
    animation: traco3 2s 6.5s 1 forwards ease-in-out;
}
.aresta-direita3 {
    transform-origin: top left;
    animation: traco4 2s 6.5s 1 forwards ease-in-out;
}


.desc{
    display: flex;
    width: 100%;
    justify-content: center;
}

.desc svg{
    opacity: 0;
    animation: aparecendoBaixo 2s 9s 1 forwards ease-in-out;
}



.container-all-sobre{
    display: none;
    justify-content: center;
    flex-direction: column;
    padding: 35px 0px 20px 0px;
    width: 80%;
    margin: auto;
}

.container-title-sobre{
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.container-cards{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.card-c1{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.card-c2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 50px;
    gap: 100px;
}

.card-c3{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.card{
    position: relative;
    width: 250px;
    height: 150px;
    padding: 5px;
    border-radius: 15px;
    background-color: #FFD700;
    overflow: hidden;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: var(--main);
    border-radius: 15px;
    margin: auto;
    height: 100%;
    z-index: 3;
}

.content p{
    text-align: center;
}

.content svg{
    margin-top: 20px;
}

.card-bc{
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 1;
    background-image: linear-gradient(to bottom, var(--principal) 50%, #ff00f2 50%);
    animation: bcAnimation 4s infinite forwards linear;
    transform-origin: center;
}

#card2 svg{
    margin-top: 5px;
}

#card3 svg{
    margin-top: 5px;
}

#card4 svg{
    margin-top: 10px;
}

@keyframes bcAnimation {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.tituloLetra {
    display: inline-block;
    transform: translateY(100%);
    animation: animaçãoLetraTitulo 0.5s forwards;
    font-size: 40px;
}


@keyframes animaçãoLetraTitulo {
    to {
      transform: translateY(0);
    }
  }

.letra {
    display: inline-block;
    transform: translate(0%, -100%);
    opacity: 0;
    animation: appearUp 0.5s forwards;
  }
  
  @keyframes appearUp {
    to {
      opacity: 1;
      transform: translate(0%, 0%);
    }
  }

.card-c1 .card{
    opacity: 0;
    transform: translate(-100%);
    animation: appearUp 1s 1s 1 forwards;
}

.card-c2 .card:nth-child(1){
    opacity: 0;
    transform: translate(-100%);
    animation: appearUp 1s 2s 1 forwards;
}

.card-c2 .card:nth-child(2){
    opacity: 0;
    transform: translate(-100%);
    animation: appearUp 1s 3s 1 forwards;
}

.card-c3 .card:nth-child(1){
    opacity: 0;
    transform: translate(-100%);
    animation: appearUp 1s 4s 1 forwards;
}

.card-c3 .card:nth-child(2){
    opacity: 0;
    transform: translate(-100%);
    animation: appearUp 1s 5s 1 forwards;
}

#representacoes{
    padding-top: 150px;
}

.container-title-representacoes{
    display: flex;
    justify-content: center;
}

.container-all-representacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.container-content-representacoes{
    position: relative;
    display: flex;
    width: 1000px;
    height: 450px;
    padding: 5px;
    background-color: yellow;
    overflow: hidden;
    border-radius: 15px;
}

.border-container-carrocel{
    position: absolute;
    top: -150%;
    left: -50%;
    width: 200%;
    height: 400%;
    z-index: 0;
    background-image: linear-gradient(to bottom, var(--principal) 50%, #ff00f2 50%);
    animation: bcAnimation 4s infinite forwards linear;
    transform-origin: center;   
}

.container-carrocel{
    padding: 0px;
    position: relative;
    width: 1000px;
    border-radius: 15px;
    overflow: hidden;
}

.carrocel{
    width: 300%;
    display: flex;
    flex-direction: row;
}

.arrow{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.329);
}

.arrow-direita{
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
}

.arrow-esquerda{
    top: 50%;
    right: 100%;
    transform: translate(100%, -50%);
}

.img{
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 450px;
    background-color: var(--main);
    transition: all 1s;
}

.column-c1{
    display: flex;
    justify-content: center;
    margin: 20px 0px 30px 0px;
}

.column-c2{
    display: flex;
    justify-content: center;
    gap: 280px;
    margin-bottom: 30px;
}

.column-c3{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-bottom: 30px;
}

.column-c4{
    display: flex;
    justify-content: center;
    gap: 35px;
}

.no{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main);
    z-index: 3;
}

.no p{
    font-size: 18px;
    font-family: var(--texto-principal);
    font-weight: 900;
    z-index: 4;
}

.no .background{
    border: 5px solid var(--principal);
}

.column-c4 .no:nth-child(3){
    margin-left: 5px;
}



.column-aresta{
    top: 50%;
    animation: none;
    opacity: 1;
    height: 200px;
    background-color: var(--principal);
    z-index: -1;
}
.aresta-esquerda.column-aresta{
    left: 50%;
    transform: rotate(65deg);
    
}
.aresta-direita.column-aresta{
    right: 50%;
    transform: rotate(-65deg);
}


.column-c2 .column-aresta{
    height: 120px;
}
.column-c2 .aresta-esquerda.column-aresta{
    transform: rotate(50deg);
    
}
.column-c2 .aresta-direita.column-aresta{
    transform: rotate(-45deg);
}


.column-c2 .no:nth-child(2)  .aresta-direita.column-aresta{
    transform: rotate(-53deg);
}


.column-c3 .column-aresta{
    height: 100px;
}
.column-c3 .aresta-esquerda.column-aresta{
    transform: rotate(35deg);
    
}
.column-c3 .aresta-direita.column-aresta{
    transform: rotate(-30deg);
}

.desc-representacao{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.desc-representacao p {
    width: 75%; 
    text-align: center;
    font-size: 18px;
}
.desc-representacao p strong{
    color: var(--principal);
}


.container-representacao-venn{
    display: flex;
    justify-content: center;
    width: 100%;
}

.conjunto{
    display: flex;
    justify-content: start;
    align-items: center;
    border: 2px solid var(--principal);
    border-radius: 50%;
}

.conjunto-a{
    width: 500px;
    height: 300px;
    margin-top: 30px;
}

.conjunto-a p{
    margin-left: 20px;
    font-size: 25px;
    font-weight: 900;
}

.conjunto-b{
    margin-left: 20px;
    width: 250px;
    height: 150px;
}


.conjunto-c{
    margin-left: 10px;
    margin-right: 20px;
    width: 200px;
    height: 100px;
  
}


.conjunto-d{
   margin-left: 20px;
   margin-right: 20px;
   width: 200px;
   height: 100px;
}

.conjunto-e{
    margin-left: 20px;
    margin-right: 20px;
    width: 80px;
    height: 50px;
}

.representacao-numerica-parentesis{
    display: flex;
    height: 300px;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.representacao-numerica-parentesis p{
    font-size: 30px;
    font-family: var(--titulo);
    font-weight: 900;
}

#definicoes{
    margin-top: 100px;
}

.container-all-definicoes{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.container-title-definicoes{
    display: flex;
    justify-content: center;
}

.container-title-definicoes h2{
    text-align: center;
}

.container-content-definicoes{
    width: 100%;
}


.arvore-tipos-nos{
    width: 50%;
    margin: auto;
    margin-bottom: 80px;
}


.container-all-definicoes .arvore-tipos-nos .column-c1 .no{
    outline: 2px solid red;
    outline-offset: 10px;
}

.traco-tipo{
    display: block;
    position: absolute;
    z-index: 9999;
    left: 120%;
    top: 50%;
    transform: translate(0, -50%);
    background-color: var(--realce);
    width: 60px;
    height: 8px;
    z-index: 20;
    opacity: 0;
}   

.traco-raiz{
    opacity: 1;
    width: 50px;
    background-color: red;
    left: calc(200% + 10px);
    transform: translate(-100%, -50%);
}

.tipo{
    opacity: 0;
    top: 50%;
    left: calc(100% + 60px);
    transform: translate(0%, -50%);
    position: absolute;
    background-color: var(--main);
    color: white;
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 15px;
    z-index: 100;
    transition: 1s all;
}

.tipo p{
    font-size: 18px;
    font-weight:600;
    text-wrap: nowrap;
}

.raizTipo{
    opacity: 1;
    left: calc(200% + 10px);
    border-color: red;
}

.container-all-definicoes .column-c2{
    transition: 1s all;
    position: relative;
}

.destaquecolumn1{
    border: 2px solid var(--realce);
    padding: 10px;
}

.backgroundColumn-container{
    position: absolute;
    top: -13px;
    overflow: hidden;
    width: 100%;
    height: calc(100% + 20px);
    padding: 3px 4px;
    background-color: var(--main);
}

.backgroundColumn{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--main);
    z-index: 1;
}

.border-column{
    top: 0px;
    left: 0px;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 0;
    left: 120%;
}

#column-ultimo{
    width: calc(100% + 15px);
}

#border-column1{
    background-color: var(--realce);
}

#border-column2{
    background-color: #51C9D2;
}

#border-column3{
    background-color: var(--bordas-linhas);
}

.border-column-animation{
    animation: borderColumnAnimation 2s forwards linear;
}


@keyframes borderColumnAnimation {
    100%{
        left: 0%;
    }
}

.traco-pais{
    opacity: 1;
    background-color: var(--realce);
    top: 50%;
    animation: tracoAnimationBorder 1s forwards ease-in-out;
}


@keyframes tracoAnimationBorder {
    100%{
        left: 100%;
    }
}

.paisTipo{
    opacity: 1;
    border-color: var(--realce);
}

.filhosTipo{
    opacity: 1;
    border-color: #51C9D2;
}

#tracoFilhos{
    left: 110%;
}

.traco-filhos{
    opacity: 1;
    background-color: #51C9D2;
    animation: tracoAnimationBorder 2s forwards ease-in-out;
}


.container-all-definicoes .column-c3{
    transition: 1s all;
    position: relative;
}


.container-all-definicoes .column-c4{
    transition: 1s all;
    position: relative;
}

.traco-folhas{
    opacity: 1;
    background-color: var(--bordas-linhas);
    animation: tracoAnimationBorder2 2s forwards ease-in-out;
}

@keyframes tracoAnimationBorder2 {
    100%{
        left: calc(100% + 10px);
    }
}


.folhasTipo{
    opacity: 1;
    border-color: var(--bordas-linhas);
}   

.container-all-definicoes .column-c2 .no:nth-child(2) .aresta-direita{
    transform: rotate(-45deg);
}

.container-all-definicoes .column-c2 .no:nth-child(2) .aresta-esquerda{
    transform: rotate(45deg);
}

.container-all-definicoes .column-c3 .no .aresta-direita{
    transform: rotate(-25deg);
}

.container-all-definicoes .column-c3 .no .aresta-esquerda{
    transform: rotate(28deg);
}

.desc-tipos{
    position: relative;
    width: 655px;
    margin: auto;
    margin-top: 40px;
    overflow: hidden;
}

.carrocel-textos{
    position: relative;
    width: 2620px;
    display: flex;
    flex-direction: row;
}

.desc-tipos .carrocel-textos div{
    width: 655px;
    transition: 1s all;
}

.desc-tipos .carrocel-textos div p{
    width: 80%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: auto;
}


strong{
    color: var(--principal);
}

.arrowTextos{
    position: absolute;
    display: block;
    top: 0px;
    color: var(--principal);
    cursor: pointer;
    z-index: 20;
}

.arrow-carrocel-textos-direita{
    left: 100%;
    transform: translate(-100%, 0%);  
}



.container-arvore2{
    width: 920px;
    margin: auto;
}

.arvore-tipos-nos2 .column-c1{
    position: relative;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--realce);
}   

.arvore-tipos-nos2 .column-c2{
    padding-bottom: 10px;
    border-bottom: 2px solid var(--realce);
}

.arvore-tipos-nos2 .column-c3{
    padding-bottom: 10px;
    border-bottom: 2px solid var(--realce);
}

.arvore-tipos-nos2 .column-c4{
    padding-bottom: 10px;
    border-bottom: 2px solid var(--realce);
}



.propriedades{
    position: absolute;
    top: 100%;
    transition: 1s all;
}

.profundidade{
    position: absolute;
    left: 100%;
    transform: translate(-100%, -100%);
}

.profundidade p{
    color: var(--bordas-linhas);
}

.nivel p{
    color: aqua;
}

.altura p{
    color: firebrick;
}

.nivel{
    opacity: 0;
    left: -50%;
    transform: translate(0%, -100%);
}

.nivelView{
    opacity: 1;
    left: 0px;
}

.propriedades p{
    font-size: 18px;
    font-weight: 600;
    text-wrap: nowrap;
}

.altura{
    opacity: 0;
    top: 50%;
    transform: translate(0%, -50%);
    left: 150%;
    transition: 1s all;
}

.altura:nth-child(3){
    top: 0%;
    left: -180%;
}

.alturaView{
    opacity: 1;
}


.arvore-tipos-nos3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.arvore-tipos-nos3 .desc-tipos{
    margin-top: 70px;
}

.container-arvore3{
    width: 1000px;
}

.subarvore-c{
    top: -30%;
    left: 65%;
    transform: translate(-50%, 0%);
    width: 380px;
    height: 280px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid red;
}

.subarvore-c p{
    position: absolute;
    top: 50%;
    left: 105%;
    transform: translate(0%, -100%);
    text-wrap: nowrap;
}

.arvore-tipos-nos3 .column-c3 .no .aresta-direita {
    transform: rotate(-25deg);
}

.aresta-centro{
    height: 150px!important;
    transform-origin: top left;
    transform: rotate(-60deg);
}

.grau{
    opacity: 0;
    position: absolute;
    left: 150%;
    transition: 1s all;
}

.grau p{
    text-wrap: nowrap;
}


.grauPbaixo{
    left: 0%;
    top: 150%;
}

.ladoPgrau{
    left: calc(100% + 15px);
}

.grauView{
    opacity: 1;
}

#tipos{
    margin-top: 100px;
}

.container-all-tipos{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.arvore-tipos-nos3 .carrocel-textos{
    width: 1310px;
}

.arvoreTipo{
    transition: 1s all;
    width: 1000px;
}

.container-content-tipos{
    width: 1000px;
    overflow: hidden;
}

.container-arvores-tipos{
    width: 10000px;
    display: flex;
    flex-direction: row;
}


.container-tipos-opts{
    margin-top: 10px;
}

.desc-tipo{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 25px;
}

.desc-tipo h3{
    color: var(--principal);
    font-size: 22px;
}

.desc-tipo p{
    width: 70%;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.no-N{
    position: absolute;
    left: 125%;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid var(--principal);
    text-wrap: nowrap;
}

.noNPB{
    left: 0%;
    top: 120%;
}


.container-mudarArvore{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container-mudarArvore svg{
    color: var(--principal);
    cursor: pointer;
}


#percorrendo{
    margin-top: 150px;
}


.container-all-percorrendo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.container-title-percorrendo{
    display: flex;
    justify-content: center;
}

.container-content-percorrendo{
    width: 1000px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.container-text{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.text-percorrendo{
    font-size: 18px;
    font-weight: 600;
}

.percorrendo-opts{
    display: flex;
    justify-content: center;
    margin: 40px 0px 50px 0px;
    gap: 40px;
}

.opt{
    position: relative;
    display: flex;
    flex-direction: row;    
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
    transition: 1s;
    background-color: var(--main);
    overflow: hidden;
}

.background-opt{
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-radius: 15px;
    gap: 5px;
    background-color: var(--main);
    z-index: 1;
}

.border-opt{
    width: 290%;
    height: 290%;
    position: absolute;
    top: -85%;
    left: -90%;
    background-color: var(--principal);
}

.border-optActv{
    background-image: linear-gradient(to bottom, var(--principal) 50%, #ff00f2 50%);
    z-index: 0;
    animation: bcAnimation 2s linear infinite forwards;
}

.selectOpt{
    transform: scale(1.2);
    transition: 1s;
}

.noAnimado{
    transition: 1s all;
}

#posborder{
    left: -95%;
}

.noanimation{
    background-color: var(--realce);
}

.noanimation + p{
    color: black;
}

.container-arrowTroca-no{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.arrowTrocaNo{
    cursor: pointer;
} 

.arrowTrocaNo svg{
    color: var(--principal);
}

#operacoes{
    margin-top: 50px;
}

.container-all-operacoes{
    width: 100%;
}

.container-title-operacoes{
    display: flex;
    justify-content: center;
}

.container-content-operacoes{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 50px;
    width: 1200px;
}

.container-arvore-operacoes{
    margin-top: 100px;
    width: 700px;
    height: 100%;
}

.container-codigo-operacoes{
    width: 500px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 5px;
}

.carrocelCode{
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 4800px;
}

.code{
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: center;
    transition: 1s all;
}

.container-opt-code{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    gap: 25px;
    cursor: pointer;
}

.container-opt-code svg{
    color: var(--principal);
}

.img-code{
    margin-top: 15px;
    width: 100%;
    border-radius: 15px;
}

.desc-code{
    margin-top: 15px;
    text-align: center;
}

.container-all-utilidades{
    width: 100%;
}

.container-btn-utilidades{
    display: flex;
    justify-content: center;
}

.btn-utilidades{
    padding: 15px 10px;
    border-radius: 15px;
    border: 2px solid var(--principal);
    background-color: var(--main);
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.container-content-utilidades{
    display: none;
    width: 80%;
    margin: auto;
    margin-top: 25px;
    overflow: hidden;
}

.container-cards-utilidades{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
}

.card-utilidades{
    position: relative;
    width: 250px;
    height: 200px;
    border-radius: 20px;
    padding: 3px;
    overflow: hidden;
    left: -100%;
}

.card-utilidades-active{
    animation: cardAnimation 1s forwards;
}

@keyframes cardAnimation {
    100%{
        left: 0%;
    }
}


.container-content-card{
    display: flex;
    flex-direction: column;
    background-color: var(--main);
    border-radius: 20px;
    position: relative;
    height: 100%;
    padding-top: 0px;
}
.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}

.card-utilidades-content{
    margin-top: 5px;
    height: 60%;
}

.card-utilidades-content p{
    width: 90%;
    margin: auto;
    text-align: center;
}

.pAlterado{
    width: 95%!important;
}


.card-utilidades-background{
    position: absolute;
    width: 200%;
    height: 200%;
    background: linear-gradient(to left, #0047ab 50%, #008080 50%);
    top: -50%;
    left: -50%;
    animation: bcAnimation 3s linear infinite forwards
}

.bancodedados svg{
    color: var(--principal);
}

.compilador{
    width: 60px;
}